---
layout: default
---

<div class="mb">
  <p class="text-large">Hi my name is Mitch Lloyd</p>

  <p>
    You can <a href="http://twitter.com/too_mitch">see me tweet</a>,
    <a href="http://github.com/mitchlloyd">watch me program</a>,
    and read things I write here.
  </p>
</div>

<h2 class="text-thin">Posts</h2>
<ul class="list-unstyled mb">
  {% for post in site.posts %}
    <li>
       {% if post.external_url %}
         <h2 class="text-base">
           <a href="{{ post.external_url }}" target="_blank">{{ post.title }}</a>
           <span class="text-quiet text-thin">(Published on {{ post.external_site }})</span>
         </h2>
       {% else %}
         <h2 class="text-base">
           <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
         </h2>
       {% endif %}
    </li>
  {% endfor %}
</ul>

<h2 class="text-thin">Speaking</h2>
<ul class="list-unstyled">
  <li>
    <a href="https://www.youtube.com/watch?v=1E2E7qEkyeA">
      Designing Mental Models for Ember
    </a> - <i>August 2015</i>
    <p>
      Speaking at San Franciso Ember Meetup about creating effective mental
      models to help developers program.
    </p>
  </li>
  <li>
    <a href="https://frontsidethepodcast.simplecast.fm/23">
      The Frontside Podcast Episode 23
    </a> - <i>April 2015</i>
    <p>
      Discussing Ember Islands, Ember observable chains, and training.
    </p>
  </li>
  <li>
    <a href="https://www.youtube.com/watch?v=-5hkHTmnJAg">
      Ember Islands Lightning Talk
    </a> - <i>April 2015</i>
    <p>
      A lightning talk at 2015 Ember Conf about a new library that let's
      developers embedded Ember components in server-rendered HTML pages.
    </p>
  </li>
  <li>
    <a href="https://windycityrails.com/videos/2013/#9">
      Hardware Integration with Rails
    </a> - <i>September 2013</i>
    <p>
      Lessons from a long-running project integrating hardware components with a
      Ruby on Rails application at 2013 Windy City Rails.
    </p>
  </li>
</ul>
