.post-content {
  margin-bottom: $spacing-unit;

  p, pre {
    max-width: 39rem;
  }

  h2 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: $spacing-unit;

    @include media-query($on-laptop) {
      font-size: 1.5rem;
    }

  }

  h3 {
    font-size: 1.125rem;
    font-weight: bold;
    margin-top: $spacing-unit * 0.75;

    @include media-query($on-laptop) {
      font-size: 1.25rem;
    }
  }

  h4 {
    font-size: inherit;
    font-weight: bold;
  }

  hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    margin: 1.666rem auto;
    max-width: 3rem;
  }

  footer {
    margin-top: $spacing-unit * 2;
    font-style: italic;
    color: $grey-color;
  }
}
