.post-content {
  margin-bottom: $spacing-unit;

  p, pre {
    max-width: 38rem;
  }

  h2 {
    font-size: 32px;
    line-height: 1.2;

    @include media-query($on-laptop) {
      font-size: 28px;
    }

    margin-top: $spacing-unit;
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}
