---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}

    <time class="color-subtle italic" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      Published on {{ page.date | date: "%b %-d, %Y" }}
    </time>

    <div class="mt+">
      {% if page.next %}
        <p>
          <span class="color-subtle">Next Post:</span>
          <a href={{page.next.url}}>{{page.next.title}}</a>
        </p>
      {% endif %}

      {% if page.previous %}
        <p>
          <span class="color-subtle">Previous Post:</span>
          <a href={{page.previous.url}}>{{page.previous.title}}</a>
        </p>
      {% endif %}

      {% if page.previous %}
        <p><a href='/'>All Posts</a></p>
      {% endif %}
    </div>
  </div>

</article>
